<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Curriculum Personalization Dashboard</title>
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Drop-Down-Combo-Tree/style.css')}}" />
<style>
.container { margin: 150px auto; }
</style>
</head>
<body  onload="init()">

    <div class="container">
        <h1>Curriculum Personalization Dashboard</h1>
        
        <div overflow = "auto">
            <div class="left">
                <h3 id="MultiSelect_Header_1"></h3>
                <input type="text" id="justAnInputBox1" placeholder="Select" autocomplete="off"/>
            </div>
            <div class="right">
                <button id="submit_response_1", type="submit">Submit Response</button>
            </div>
        </div>
    </div>
    <div id="loading_gif_container">
        <img id="loading-gif" src="{{url_for('static', filename='images/loading_6.gif')}}" alt="Loading..." />
    </div>
    <div id="table_header_ele" class="table_header" style="display: none;"><h3>Learning Path Navigator</h3></div>
    <div id="table-container"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='Drop-Down-Combo-Tree/comboTreePlugin.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='data_extractor.js')}}"></script>
</body>

<footer>
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
        <p>Trademark &trade; Vaikalpik</p>
        <p>Address: JIO Institute, Navi Mumbai, Maharashtra</p>
        <p>Email: info@Vaikalpik.co.in</p>
      </div>
    </div>
  </footer>
</html>
