<html>

<head>
    <meta charset="UTF-8">
    <title>Spice Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='data_extractor.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='treeselectjs-main/dist/treeselectjs.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='treeselectjs-main/dist/treeselectjs.css')}}" />
</head>

<body onload="init()">

  <div class="container"></div>

</body>

</html>